<mat-card style="box-shadow:  1px 2px 10px 0 #3f51b5;">
  <mat-card-header>
    <mat-card-title style="justify-content: center;">Profile</mat-card-title>
    
  </mat-card-header>
  
  <table class="table">
    <tbody>
      <tr>
        <!-- *ngFor="let emp of employee" -->
        <td><strong>Full name</strong></td>
        <td>{{employee.name}}</td>
      </tr>
      <tr>
        <td><strong>Email:</strong></td>
        <td>{{employee.email}}</td>
      </tr>
      <tr>
        <td><strong>Gender:</strong></td>
        <td>{{employee.gender}}</td>
      </tr>
      <tr>
        <td><strong>Phone:</strong></td>
        <td>{{employee.number}}</td>
      </tr>
      <tr>
        <td><strong>Hobbies:</strong></td>
        <td>{{employee.hobbies}}</td>
      </tr>
      <button mat-button style="background-color: green; margin:10px 200%" (click)="onEdit()" >Edit</button>
    </tbody>
  </table>